<%= form_for @quote do |f| %>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%=  f.label :author %>
    <%=  f.text_field :author %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>