<h1>My Quotes</h1>

<% if current_user == @user %>
  <p><%= link_to new_user_quote_path(current_user.id), class: "quote-link-box" do %>
    <i class="glyphicon glyphicon-plus"></i><span>New Quote</span>
    <% end %>
  </p>
<% end %>

<!-- Display Each Quote -->
<div class="container-fluid">
  <div class="row">
  <!-- Each Quote Loop Start -->
  <% @quotes.order('updated_at DESC').each do |quote| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <div class="quote-box-wrapper clearfix">
            <div class="quote-box">
              <p class="quote-copy"><%= quote.print_quote %></p>
              <p class="quote-author-copy"><%= quote.print_author %></p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <!-- <div class="row quote-link-box">
            <%# link_to user_quote_path(quote.user, quote), class: "quote-box-link" do %>
              <i class="glyphicon glyphicon-star"></i><span>Show</span>
            <%# end %>
          </div> -->
          <div class="row quote-link-box">
            <%= link_to edit_user_quote_path(quote.user, quote), class: "quote-box-link" do %>
              <i class="glyphicon glyphicon-edit"></i><span>Edit</span>
            <% end %>          
          </div>
          <div class="row quote-link-box">
            <%= link_to user_quote_path(quote.user, quote), method: :delete, data: { confirm: "Are you sure?" }, class: "quote-box-link" do %>
              <i class="glyphicon glyphicon-trash"></i><span>Delete</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Each Quote Loop End -->    
  </div>
</div>