<!DOCTYPE html>
<html>
<head>
  <title>Quotainer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic' rel='stylesheet' type='text/css'>

</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to 'Quotainer', root_url, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if current_user.present? %>
          <li class="user-welcome">Welcome, <span class="text-highlight"><%= current_user.email %></span>.</li>
          <li><%= link_to 'My Quotes', user_quotes_path(current_user.id) %></li>
          <li><%= link_to 'Logout', sessions_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Login', new_sessions_path %></li>
          <% end %>
    </div>
  </nav>

  <div class="container-fluid">

  <%= yield %>

  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-copy-wrapper">
            <p>Copyright &copy; 2014 | Quotainer.com</p>
            <p>Built with &hearts; by Grey Thompson</p>
          </div>
      </div>
    </div>
  </footer>

</body>
</html>
